@use "./src/base.scss";

.theme-light, 
:root {
    --background-primary: #ff00dd !important;
    --background-secondary: #0400ff !important;
    --background-secondary-alt: #51ff00 !important;
    --background-tertiary: #ff0062 !important;
    --background-accent: #0066ff !important;
    --background-extra: #00ff9d;
    --background-floating: var(--background-tertiary) !important;
    --background-modifier-hover: rgba(255,255,255,0.01) !important;	
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;	
    --background-modifier-accent: rgba(255, 0, 0, 0.06) !important;
    --channeltextarea-background: var(--background-secondary) !important;
    --focus-primary: rgba(0, 0, 0, 0.219) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #0011ff !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #c4c4c4 !important;
    --interactive-active: var(--background-primary) !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
}
