.mainContent-u_9PKf:before {
    background: red;
}

.layout-2DM8Md {
    background: red;
    border-radius: 25px;
}

.layout-2DM8Md:hover {
    background: lime;
}

.cozy-3raOZG .messageContent-2qWWxC {
    background: yellow;
}

/**
 * Snippet from #css-snippets applied the Feb 12, 2021 at 12:41:25 PM
 * Created by Marmota#2533 (289112759948410881)
 * Snippet ID: 809681377645166602
 */
 .buttons-3JBrkn {
    opacity: 0;
    transition: opacity 0.1s;
  }
  
  .channelTextArea-rNsIhG:hover .buttons-3JBrkn {
    opacity: 1.0;
  }
  /** 809681377645166602 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:41:28 PM
   * Created by Tom_The_Geek#8559 (432121968012296192)
   * Snippet ID: 809006455020847165
   */
  .expandedFolderBackground-2sPsd- {
    box-shadow: inset 0 0 16px black;
  }


  .avatar-3tNQiO {
      background-image: url(https://cdn.discordapp.com/avatars/415849376598982656/bd8330891b7061f4e9ebe61f1662be07.png) !important;
  }
  /** 808156938478419988 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:41:53 PM
   * Created by Pavol#0296 (597072695875600385)
   * Snippet ID: 808025476668456980
   */
  .cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
      background-color: #23272A;
      display: inline-block;
      max-width: 650px;
      margin: 0;
      padding: 5px 10px ;
      border-radius: 15px;
      position: relative;
      overflow: visible;
  }
  /** 808025476668456980 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:41:58 PM
   * Created by wathhr#1459 (618554716837773335)
   * Snippet ID: 807689606416957450
   */
  /* No note on user modal */
  .note-3HfJZ5 { display: none; }
  .footer-1fjuF6 { padding-bottom: 17.5px; margin-top: -15px }
  .bodyTitle-Y0qMQz { display: none }
  .bodyInnerWrapper-Z8WDxe:before { 
    content: 'Roles';
    font-weight: 700;
    color: var(--header-secondary);
  }
  /** 807689606416957450 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:02 PM
   * Created by Freeplay#5676 (158296466119458816)
   * Snippet ID: 806947642901921822
   */
  .side-8zPYf6 > div {
      order: -1;
  }
  .side-8zPYf6 > div[data-item-id="pc-general"],
  .side-8zPYf6 > div[data-item-id="pc-general"] ~ div {
      order: 2;
  }
  .side-8zPYf6 > div[data-item-id="theme-toggler"] {
      order: 1 !important;
  }
  /** 806947642901921822 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:05 PM
   * Created by P⃞zm#6946 (288062966803333120)
   * Snippet ID: 806326517230731284
   */
  .assetWrapper-3GNt0z > canvas, .assetWrapper-3GNt0z > img {
    
    visibility:hidden;
    height:0px;
    
  }
  .assetWrapper-3GNt0z {
    height:auto !important;
  }
  .assetWrapper-3GNt0z:before {
    content:"There is a sticker here";
    color:white;
  }
  /** 806326517230731284 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:10 PM
   * Created by ADudeCalledLeo#8665 (169456051920437248)
   * Snippet ID: 806224157535764520
   */
  .barButtonMain-3K-jeJ { display: none; }
  .jumpToPresentBar-G1R9s6 {
      display: block;
      background-color: transparent;
      right: 12px;  
  }
  .barButtonAlt-mYL1lj {
      float: right;
      bottom: 1.6rem;
      border-radius: 0.7rem 0 0 0.7rem;
      background-color: var(--background-tertiary);
  }
  .newMessagesBar-265mhP .barButtonMain-3K-jeJ { display: block; }
  .newMessagesBar-265mhP .barButtonAlt-mYL1lj {
    bottom: 0;
    background-color: initial;
  }
  /** 806224157535764520 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:16 PM
   * Created by rob#1160 (194474365646012416)
   * Snippet ID: 806174259067355207
   */
  .imageWrapper-2p5ogY:hover {
      transform: translateY(-4px) scale(1.02);
      box-shadow: var(--elevation-high);
  }
  .imageWrapper-2p5ogY {
      transition: ease-in-out 0.4s;
      box-shadow: none;
  }
  /** 806174259067355207 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:19 PM
   * Created by Yellowsink#8156 (435026627907420161)
   * Snippet ID: 806150639875784714
   */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:26 PM
   * Created by Jenny#0002 (249426653774741505)
   * Snippet ID: 805643628419743784
   */
  .guilds-1SWlCJ, .listItem-2P_4kh { width: 60px; }
  .base-3dtUhz { left: 60px; }
  .expandedFolderBackground-2sPsd- { left: 6px; } /* width is 48px, (60-48) / 2 = 6 */
  /** 805643628419743784 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:34 PM
   * Created by Ducko#4698 (506482395269169153)
   * Snippet ID: 805110507585011742
   */
  .pointerEvents-2zdfdO:not([mask="url(#svg-mask-status-online-mobile)"]) {
      mask: url(#svg-mask-status-online) !important;
  }
  /** 805110507585011742 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:39 PM
   * Created by Hannah the Beegirl =BLM=#6969 (265245027070902274)
   * Snippet ID: 805104666286358536
   */
  .form-2fGMdU .base-gE7OpD {
      background-color: transparent;
  }
  .cooldownWrapper-3joyFc {
      position: relative;
      right: -8px;
      height: 25px;
      padding-left: 4px;
      padding-right: 8px;
      border-radius: 5px;
      background-color: var(--background-secondary-alt);
  }
  .text-1y-e8- {
      position: relative;
      right: 36px;
      height: 25px;
      padding-left: 36px;
      padding-right: 8px;
      border-radius: 5px;
      background-color: var(--background-secondary-alt);
      z-index: 0;
  }
  .text-1y-e8-:empty {
      display: none;
  }
  .ellipsis-19qdx6.dots-3Bkt3k.themed-IQiCm3 {
      z-index: 1;
  }

  
  .hljs-addition, .hljs-keyword, .hljs-selector-tag {
      color: #859900;
      text-shadow: 0px 0px 15px #859900f0;
  }
  
  .hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
      color: #b58900;
      text-shadow: 0px 0px 15px #b58900f0;
  }
  .hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
      color: #cb4b16;
      text-shadow: 0px 0px 15px #cb4b16f0;
  }
  .hljs-built_in, .hljs-deletion {
      color: #dc322f;
      text-shadow: 0px 0px 15px #dc322ff0;
  }
  
  .hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
      color: #2aa198;
      text-shadow: 0px 0px 15px #2aa198f0;
  }
  
  .anchor-3Z-8Bb {
      color: #5e2aa1;
      text-shadow: 0px 0px 10px #5e2aa1f0;
  }
  
  *::selection {
      color: #16b5f9;
      text-shadow: 0px 0px 10px #16b5f9;
      background: none !important;
  }
  /** 804935125698609182 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:42:50 PM
   * Created by ivy ♡#8180 (703390192899457066)
   * Snippet ID: 804934813252583484
   */
  .username-1A8OIy, .headerName-fajvi9, .usernameFont-23TX-h, .headerNameWrapper-3res2c{
      font-weight: 1000 !important;
      transition: filter .3s ease-in-out .3s;
      filter: brightness(0) invert(1);
      text-shadow: 0px 0px 5px;
  }
  
  .username-1A8OIy:hover, .headerName-fajvi9:hover, .usernameFont-23TX-h:hover, .headerNameWrapper-3res2c:hover {
      filter: brightness(1) invert(0) !important;
  }
  /** 804934813252583484 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:43:03 PM
   * Created by Jenny#0002 (249426653774741505)
   * Snippet ID: 804690713224544288
   */
  /* Move settings (3rd, hence :nth-child(3)) button */
  .container-3baos1 > .flex-1xMQg5 :nth-child(3) {
      position: fixed;
      bottom: 10px;
      left: 20px;
  }
  
  /* Decrease height of server list to make room for settings button */
  .wrapper-1Rf91z { margin-bottom: 53px; }
  /** 804690713224544288 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:43:11 PM
   * Created by Jenny#0002 (249426653774741505)
   * Snippet ID: 804665923801579541
   */
  .channelTextArea-rNsIhG { margin-bottom: 0; }
  .form-2fGMdU { padding: 0; }
  .inner-MADQqc { padding-top: 4px; }
  
  .base-gE7OpD { /* typing and slowmode stuff */
      top: -24px; /* height is 24px */
      background-color: var(--background-primary);
  }
  
  .scrollableContainer-2NUZem {
      border-radius: 0px;
      min-height: 53px;
  }
  /** 804665923801579541 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:43:23 PM
   * Created by Spectrapulse#2104 (201098711651057665)
   * Snippet ID: 804032048297410592
   */
  .user-details-text.textRow-19NEd_ {
    margin-bottom: 10px;
    text-align: center;
  }
  /** 804032048297410592 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:43:47 PM
   * Created by jai.#9926 (98133204636028928)
   * Snippet ID: 802230289799708722
   */
  [aria-label="Servers"] div img {
   border-radius: 25px;
  }
  [aria-label="Servers"] div:hover img, div.selected img{
   filter: none
  }
  /** 802230289799708722 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:44:05 PM
   * Created by Benny#3000 (795262927266775041)
   * Snippet ID: 802116069514543125
   */
  @keyframes rainbowText {
    from {
      filter: hue-rotate(0deg);
      background-position-x: 0%;
      
    }
    to {
      filter: hue-rotate(180deg);
      background-position-x: 0%;
      
    }
  }
  
  .mentioned-xhSam7 .markup-2BOw-j {
    background: -webkit-linear-gradient( 180deg, #e96eff, #ff6e72 );
    border-left: 0px solid #faa61a;
    border-radius: 3px;
      width: 75%;
      margin-top: 4px;
      margin-bottom: 4px;
      animation: rainbowText 5s linear infinite alternate;
  }
  /** 802116069514543125 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:44:15 PM
   * Created by Benny#3000 (795262927266775041)
   * Snippet ID: 801919477918597211
   */
  .embedWrapper-lXpS3L {
    box-shadow: 0px 8px 15px -8px rgba(0,0,0,0.3);
  }
  code {
    box-shadow: 0px 8px 15px -8px rgba(0,0,0,0.3);
  }
  /** 801919477918597211 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:44:24 PM
   * Created by 1tsGooB#5681 (640618346986995744)
   * Snippet ID: 797953858953150465
   */
  /* Avatar++ */
  .avatar-1BDn8e {
    height: 3em;
    width: 3em;
  }
  /* Avatar++ */
  /** 797953858953150465 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:44:42 PM
   * Created by sappho#9999 (148929066349625344)
   * Snippet ID: 796142253797670912
   */
  /* color current channel bright pink, and add arrow in front of it */
  [class*='modeSelected'] [class*='name']
  {
      color: rgba(255, 81, 179, .9) !important;
      padding-left: 5px
  }
  
  [class*='modeSelected'] [class*='name']:before
  {
      content: "-> ";
  }
  
  /* color unread channels bright green, and add arrows after them */
  [class*='modeUnread'] [class*='name']
  {
      color: #39FF14 !important;
      padding-left: 3px
  }
  
  [class*='modeUnread'] [class*='name']:after
  {
      content: " <-";
  }
  /** 796142253797670912 */
  
  /**
   * Snippet from #css-snippets applied the Feb 12, 2021 at 12:45:13 PM
   * Created by gemm#1683 (609955591590379553)
   * Snippet ID: 795148134514425896
   */
   .item-PXvHYJ,
   .side-8zPYf6 > div[data-item-id=theme-toggler] {
       display: none;
   }

   